### 03. Curatarea si pregatirea datelor_ Nohai Stefan Lucian

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
Imobile = pd.read_csv('Imobile.csv')

In [15]:
Imobile.head(3)

,id,idSchool,buildingCode,buildingDescription,builtSurface,heldSurface,constructionYear,propertyType,floorsNo,schoolInternalId,videoSurveillance,audioSurveillance,locality,street,streetNumber,postalCode,idPhoto,Adresa
0,34136,11269910,C1,Gradinita Gosen Arad,1773.73,1469.0,1996,Folosință gratuită de la terți,2,10131270,False,False,ARAD,Calea Aurel Vlaicu,121-125,310365.0,11685.0,"121-125 Calea Aurel Vlaicu, ARAD, 310365, Romania"
1,38034,11256876,Corp1,Cladire scoala,483.00,164.0,1974,Închiriată,3,11192270,False,False,RÂMNICU SĂRAT,TOAMNEI,4,125300.0,0.0,"4 TOAMNEI, RÂMNICU SĂRAT, 125300, Romania"
2,17237,11263103,C1 - Cladire D+P,CASA CORPULUI DIDACTIC MEHEDINTI,269.00,538.0,1930,Folosință gratuită de la terți,1,10037858,True,False,DROBETA-TURNU SEVERIN,CALOMFIRESCU,94,220127.0,0.0,"94 CALOMFIRESCU, DROBETA-TURNU SEVERIN, 220127..."

In [17]:
Imobile.locality.isnull().sum()

3384

In [226]:
#Avem multe valori missing pe locality si implicit pe adresa.
#Pentru a nu sterge toate aceste inregistrari, aducem prin merge locality si adresa din school_details

In [48]:
details = pd.read_csv("details.csv")

In [49]:
details.head(3)

,idSchool,internalIdSchool,idParentSchool,schoolSocialLinks,schoolYearDescription,code,siruesCode,longName,shortName,schoolType,...,propertyForm,fundingForm,county,locality,phoneNumber,faxNumber,email,SchoolYear,Web_Link,Adress
0,11269910,10131270,NaN,[],Anul şcolar 2018-2019,261200154,23054595,"ASOCIAŢIA CREŞTINĂ DE CARITATE ""GOSEN"" ARAD/ G...","GRĂDINIŢA ""GOSEN"" ARAD",Unitate de învățământ,...,Privată,Sponsorizare,ARAD,ARAD,257272477.0,257272477.0,gradinitagosen@yahoo.com,2018-2019,NaN,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103..."
1,11256876,11192270,NaN,[],Anul şcolar 2018-2019,1061206943,NaN,ASOCIAȚIA PENTRU PROMOVAREA VALORILOR AUTENTIC...,ASOCIAȚIA VALORILOR BZ,Unitate de învățământ,...,Privată,Taxă,BUZĂU,RÂMNICU SĂRAT,762724000.0,238563970.0,secretariat@cnpaulescu.ro,2018-2019,NaN,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530..."
2,11256865,11192168,NaN,[],Anul şcolar 2018-2019,1061206875,NaN,ASOCIAȚIA UMANITARĂ EDUSTAR BUZĂU,ASOCIATIA EDUSTAR,Unitate de învățământ,...,Privată,Taxă,BUZĂU,BUZĂU,773826330.0,238725913.0,luminitamusat2006@yahoo.com,2018-2019,NaN,"14 STR. MIORITEI, BUZĂU, judetul BUZĂU, 120010..."

In [50]:
details.rename(columns = {'locality':'locality_details', 'Adress':'Adresa_details'}, inplace = True)

In [51]:
details.columns

Index(['idSchool', 'internalIdSchool', 'idParentSchool', 'schoolSocialLinks',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm', 'county', 'locality_details',
       'phoneNumber', 'faxNumber', 'email', 'SchoolYear', 'Web_Link',
       'Adresa_details'],
      dtype='object')

In [52]:
details.drop(columns = ['internalIdSchool', 'idParentSchool', 'schoolSocialLinks',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm' , 'phoneNumber',
       'faxNumber', 'email', 'SchoolYear', 'Web_Link'], inplace = True)

In [53]:
details.head(3)

,idSchool,county,locality_details,Adresa_details
0,11269910,ARAD,ARAD,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103..."
1,11256876,BUZĂU,RÂMNICU SĂRAT,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530..."
2,11256865,BUZĂU,BUZĂU,"14 STR. MIORITEI, BUZĂU, judetul BUZĂU, 120010..."

In [54]:
imobile_df = pd.merge(details, Imobile, on ="idSchool", how = "inner")

In [57]:
imobile_df.head(5)

,idSchool,county,locality_details,Adresa_details,id,buildingCode,buildingDescription,builtSurface,heldSurface,constructionYear,...,floorsNo,schoolInternalId,videoSurveillance,audioSurveillance,locality,street,streetNumber,postalCode,idPhoto,Adresa
0,11269910,ARAD,ARAD,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103...",34136,C1,Gradinita Gosen Arad,1773.73,1469.00,1996,...,2,10131270,False,False,ARAD,Calea Aurel Vlaicu,121-125,310365.0,11685.0,"121-125 Calea Aurel Vlaicu, ARAD, 310365, Romania"
1,11256876,BUZĂU,RÂMNICU SĂRAT,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530...",38034,Corp1,Cladire scoala,483.00,164.00,1974,...,3,11192270,False,False,RÂMNICU SĂRAT,TOAMNEI,4,125300.0,0.0,"4 TOAMNEI, RÂMNICU SĂRAT, 125300, Romania"
2,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",17237,C1 - Cladire D+P,CASA CORPULUI DIDACTIC MEHEDINTI,269.00,538.00,1930,...,1,10037858,True,False,DROBETA-TURNU SEVERIN,CALOMFIRESCU,94,220127.0,0.0,"94 CALOMFIRESCU, DROBETA-TURNU SEVERIN, 220127..."
3,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",21973,C1 - ANEXA P+1,LABORATOR INFORMATICA,54.80,117.45,2010,...,1,10037858,True,False,NaN,NaN,NaN,NaN,0.0,"None None, None, None, Romania"
4,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",22117,C1 - ANEXA P,SALI DE CURS,100.80,100.80,2006,...,1,10037858,True,False,NaN,NaN,NaN,NaN,0.0,"None None, None, None, Romania"

In [56]:
imobile_df.locality_details.isnull().sum()

0

In [58]:
imobile_df.columns

Index(['idSchool', 'county', 'locality_details', 'Adresa_details', 'id',
       'buildingCode', 'buildingDescription', 'builtSurface', 'heldSurface',
       'constructionYear', 'propertyType', 'floorsNo', 'schoolInternalId',
       'videoSurveillance', 'audioSurveillance', 'locality', 'street',
       'streetNumber', 'postalCode', 'idPhoto', 'Adresa'],
      dtype='object')

In [ ]:
#Redenumim coloanele

In [59]:
imobile_df.drop(columns = ['locality', 'street',
       'streetNumber', 'postalCode', 'idPhoto', 'Adresa'], inplace = True)

In [64]:
imobile_df.rename(columns = {'locality_details':'locality', 'Adress_details':'Adresa', 'county':'Judet'}, inplace = True)

### Built and Held Surface

In [81]:
imobile_df.builtSurface.sort_values()

8521         0.00
4474         0.00
4683         0.00
4841         0.00
23227        0.00
           ...
1967      9990.00
2219      9990.00
19843     9990.00
15826     9990.00
1198     11570.11
Name: builtSurface, Length: 31785, dtype: float64

In [82]:
imobile_df.heldSurface.sort_values()

20093        0.0
6169         0.0
5081         0.0
4415         0.0
5085         0.0
          ...
23507    36000.0
11684    37198.0
6106     45195.0
17691    52540.0
10633    61605.0
Name: heldSurface, Length: 31785, dtype: float64

In [ ]:
#Avem inregistrari cu suprafata 0 pe cel putin una din variabile ce masoara suprafata.
#Aflam cate inregistrari sunt cu valoarea 0 pe ambele variabile ce masoara suprafata si le eliminam din baza de date

In [74]:
imobile_df[(imobile_df.builtSurface == 0) & (imobile_df.heldSurface == 0)].count()

idSchool               126
Judet                  126
locality               126
Adresa_details         126
id                     126
buildingCode           126
buildingDescription    126
builtSurface           126
heldSurface            126
constructionYear       126
propertyType           126
floorsNo               126
schoolInternalId       126
videoSurveillance      126
audioSurveillance      126
dtype: int64

In [85]:
surface0_index = imobile_df[(imobile_df['builtSurface'] == 0) & (imobile_df['heldSurface'] == 0)].index

len(surface0_index)

126

In [86]:
imobile_df.drop(surface0_index, inplace = True)

In [89]:
imobile_df.head(5)

,idSchool,Judet,locality,Adresa_details,id,buildingCode,buildingDescription,builtSurface,heldSurface,constructionYear,propertyType,floorsNo,schoolInternalId,videoSurveillance,audioSurveillance
0,11269910,ARAD,ARAD,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103...",34136,C1,Gradinita Gosen Arad,1773.73,1469.00,1996,Folosință gratuită de la terți,2,10131270,False,False
1,11256876,BUZĂU,RÂMNICU SĂRAT,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530...",38034,Corp1,Cladire scoala,483.00,164.00,1974,Închiriată,3,11192270,False,False
2,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",17237,C1 - Cladire D+P,CASA CORPULUI DIDACTIC MEHEDINTI,269.00,538.00,1930,Folosință gratuită de la terți,1,10037858,True,False
3,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",21973,C1 - ANEXA P+1,LABORATOR INFORMATICA,54.80,117.45,2010,Folosință gratuită de la terți,1,10037858,True,False
4,11263103,MEHEDINŢI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",22117,C1 - ANEXA P,SALI DE CURS,100.80,100.80,2006,Folosință gratuită de la terți,1,10037858,True,False

### Pop_data
#aducem baza de date pop_data

In [91]:
elevi_df = pd.read_csv('pop_data.csv')

In [92]:
elevi_df.head(3)

          Niveluri de educatie Judete   Ani  Populatie
0  Copii inscrisi in gradinite   Alba  1992      17142
1  Copii inscrisi in gradinite   Alba  1993      16255
2  Copii inscrisi in gradinite   Alba  1994      15501

In [95]:
elevi_df.Ani.sort_values()

0        1992
3131     1992
3100     1992
3069     1992
13459    1992
         ...
6967     2022
6957     2022
6947     2022
6927     2022
13771    2022
Name: Ani, Length: 13772, dtype: int64

In [98]:
elevi_df.dtypes

Niveluri de educatie    object
Judete                  object
Ani                      int64
Populatie                int64
dtype: object

In [101]:
elevi_df['Ani'] = pd.to_numeric(elevi_df['Ani'], errors = 'coerce')
elevi_df['Populatie'] = pd.to_numeric(elevi_df['Populatie'], errors = 'coerce')

In [102]:
elevi_df.dtypes

Niveluri de educatie    object
Judete                  object
Ani                      int64
Populatie                int64
dtype: object

In [103]:
#pastram doar datele de la nivelul anului 2019

In [104]:
elevi_2019 = elevi_df[elevi_df['Ani'] == 2019]

In [106]:
elevi_2019.tail(5)

,Niveluri de educatie,Judete,Ani,Populatie
13623,Elevi inscrisi in invatamantul de maistri,Timis,2019,106
13653,Elevi inscrisi in invatamantul de maistri,Tulcea,2019,31
13681,Elevi inscrisi in invatamantul de maistri,Vaslui,2019,53
13712,Elevi inscrisi in invatamantul de maistri,Valcea,2019,93
13768,Elevi inscrisi in invatamantul de maistri,Municipiul Bucuresti,2019,272

In [108]:
elevi_2019.drop(columns = ['Ani'], inplace = True)
elevi_2019.rename(columns = {'Niveluri de educatie':'Nivel_educatie', 'Judete':'Judet', 'Populatie':'Numar_elevi'}, inplace = True)

C:\Users\lucno\AppData\Local\Temp\ipykernel_11996\3566225874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elevi_2019.drop(columns = ['Ani'], inplace = True)
C:\Users\lucno\AppData\Local\Temp\ipykernel_11996\3566225874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elevi_2019.rename(columns = {'Niveluri de educatie':'Nivel_educatie', 'Judete':'Judet', 'Populatie':'Numar_elevi'}, inplace = True)

In [111]:
elevi_2019.head(5)

                  Nivel_educatie   Judet  Numar_elevi
27   Copii inscrisi in gradinite    Alba         8366
58   Copii inscrisi in gradinite    Arad        11257
89   Copii inscrisi in gradinite   Arges        16163
120  Copii inscrisi in gradinite   Bacau        16305
151  Copii inscrisi in gradinite   Bihor        17073

### Unirea bazelor de date
#pentru a putea uni cele doua baze de date, trebuie sa agregam datele pe judete pentru a avea o singura valoare pe fiecare judet

In [113]:
elevi_2019.groupby('Judet')

In [115]:
aggregations = {'Nivel_educatie': 'nunique',
                'Numar_elevi' : 'sum'}
elevi_jud = elevi_2019.groupby(['Judet']).agg(aggregations).reset_index()

In [120]:
elevi_jud.drop(columns = ['Nivel_educatie'], inplace = True)

In [121]:
elevi_jud.head(10)

              Judet  Numar_elevi
0              Alba       168014
1              Arad       211865
2             Arges       308552
3             Bacau       327514
4             Bihor       310659
5   Bistrita-Nasaud       163103
6          Botosani       225158
7            Braila       148596
8            Brasov       303182
9             Buzau       220068

In [190]:
elevi_jud.dtypes

Judet          string[python]
Numar_elevi             int64
dtype: object

In [185]:
imobile_df['Judet'] = imobile_df['Judet'].astype("string")

In [187]:
elevi_jud['Judet'] = elevi_jud['Judet'].astype("string")

In [188]:
imobile_df['Judet'] = imobile_df['Judet'].str.strip()

In [189]:
elevi_jud['Judet'] = elevi_jud['Judet'].str.strip()

In [200]:
elevi_jud['Judet'] = elevi_jud['Judet'].str.upper()

In [122]:
#inlocuire diacritice
diacr = {"Ă":"A", "Ş":"S","Ţ":"T","Â":"A","Î":"I"}
translation_table = str.maketrans(diacr)
imobile_df["Judet"] = imobile_df["Judet"].str.translate(translation_table)

In [201]:
Imobile_elevi_df = pd.merge(imobile_df,elevi_jud[['Judet','Numar_elevi']], on = 'Judet', how = 'left')

In [207]:
Imobile_elevi_df.head(3)

,idSchool,Judet,locality,Adresa_details,id,buildingCode,buildingDescription,builtSurface,heldSurface,constructionYear,propertyType,floorsNo,schoolInternalId,videoSurveillance,audioSurveillance,Numar_elevi
0,11269910,ARAD,ARAD,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103...",34136,C1,Gradinita Gosen Arad,1773.73,1469.0,1996,Folosință gratuită de la terți,2,10131270,False,False,211865
1,11256876,BUZAU,RÂMNICU SĂRAT,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530...",38034,Corp1,Cladire scoala,483.00,164.0,1974,Închiriată,3,11192270,False,False,220068
2,11263103,MEHEDINTI,DROBETA-TURNU SEVERIN,"94 Calomfirescu, DROBETA-TURNU SEVERIN, judetu...",17237,C1 - Cladire D+P,CASA CORPULUI DIDACTIC MEHEDINTI,269.00,538.0,1930,Folosință gratuită de la terți,1,10037858,True,False,119595

In [211]:
Imobile_elevi_df.rename(columns = {'Adresa_details':'Adresa', 'Numar_elevi':'Numar_elevi_jud'}, inplace = True)

In [213]:
Imobile_elevi_df.to_csv('schoolBuildings_Team1.csv', index = False)

### Incarcare in Azure

In [218]:
import pyodbc
import sqlalchemy as db
import urllib

In [219]:
database_name = "AID2023"
driver = '{ODBC Driver 18 for SQL Server}'
server_name = "aid-2023-srv.database.windows.net"

In [220]:
# Create the server url
server = 'tcp:{server_name},1433'.format(server_name = server_name)

#create the full connection string <- make sure to write it as it is bellow - check your credentials to be the right ones

connection_string = 'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};charset=utf8'.format(
    driver = driver,
    server=server,
    database=database_name,
    username='aid2023adminlog',
    password='@Aidr2023sql'
)                              

cnxn: pyodbc.Connection = pyodbc.connect(connection_string)
cursor: pyodbc.Cursor = cnxn.cursor() 

#execute a query with the cursor to check if the connection is maade
print("Connection is open") if cursor.execute("SELECT 1") else print(f"Connection is closed: {e}")

Connection is open

In [221]:
params = urllib.parse.quote_plus(connection_string)
#create the engine
sqlalchemy_engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [222]:
sqlalchemy_engine

Engine(mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+18+for+SQL+Server%7D%3BSERVER%3Dtcp%3Aaid-2023-srv.database.windows.net%2C1433%3BDATABASE%3DAID2023%3BUID%3Daid2023adminlog%3BPWD%3D%40Aidr2023sql%3Bcharset%3Dutf8)

In [223]:
Imobile_elevi_df.to_sql("schoolBuildings_Team1", sqlalchemy_engine, if_exists='replace', index=False)

88