# Curatarea, procesarea si crearea tabelului final

In [78]:
import pandas as pd
import numpy as np
import json
import os

In [79]:
school_details= pd.read_csv('school_details.csv')

In [101]:
levels_formations=pd.read_csv('school_levels_formations.csv')

In [81]:
tempo_all=pd.read_csv('Tempo_all.csv')

In [83]:
school_details.columns

Index(['idSchool', 'internalIdSchool', 'idParentSchool',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm', 'county', 'locality', 'street',
       'streetNumber', 'postalCode', 'phoneNumber', 'faxNumber', 'email',
       'idSchoolYear.code', 'schoolNumbers.idSchool',
       'schoolNumbers.studyFormationsCount', 'schoolNumbers.studentsCount',
       'schoolNumbers.personnelCount'],
      dtype='object')

In [84]:
df=school_details[['idSchool', 'county', 'schoolNumbers.studentsCount', 'schoolNumbers.personnelCount']]

In [85]:
school_details= df.rename(columns = {'idSchool': 'idSchool', 'county': 'Judet', 'schoolNumbers.studentsCount': 'Nr_elevi',
                                'schoolNumbers.personnelCount':'Nr_profesori'})

In [86]:
len(school_details[school_details.Judet.isna()])

0

In [87]:
len(school_details[school_details.Nr_elevi.isna()])

0

In [88]:
len(school_details[school_details.Nr_profesori.isna()])

0

In [89]:
# verificam daca exista valori dublicate pe idSchool
len(school_details[school_details.idSchool.duplicated()])

0

In [91]:
# creeam un tabel de mapare diacriticelor
diacr = {"Ă":"A", "Ş":"S","Ţ":"T","Â":"A","Î":"I"}

translation_table = str.maketrans(diacr)

# inlocuim diacriticele din coloana cu judete
school_details['Judet'] = school_details['Judet'].str.translate(translation_table)

In [92]:
school_details.Judet.unique()

array(['ARAD', 'BUZAU', 'CALARASI', 'MEHEDINTI', 'TULCEA', 'IALOMITA',
       'SIBIU', 'CARAS-SEVERIN', 'BISTRITA-NASAUD', 'ALBA', 'HARGHITA',
       'ARGES', 'BOTOSANI', 'BRASOV', 'BRAILA', 'MUNICIPIUL BUCURESTI',
       'CLUJ', 'CONSTANTA', 'DOLJ', 'GALATI', 'SUCEAVA', 'GIURGIU',
       'BACAU', 'HUNEDOARA', 'ILFOV', 'MARAMURES', 'NEAMT', 'MURES',
       'BIHOR', 'PRAHOVA', 'SATU MARE', 'SALAJ', 'COVASNA', 'VRANCEA',
       'OLT', 'IASI', 'DAMBOVITA', 'TELEORMAN', 'GORJ', 'TIMIS', 'VALCEA',
       'VASLUI'], dtype=object)

In [103]:
levels_formations.head()

,id,idSchool,sfName,sfLevel,studyFormationType,educationType,fundingForm,educationForm,teachingMode,teachingLanguage,techingType,studentsNo
0,930621,11269910,B Îngerașii,Preșcolar,Grupa mică,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
1,930620,11269910,A Ursuletii,Preșcolar,Grupa mică,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
2,930623,11269910,A,Preșcolar,Grupa mare,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
3,930622,11269910,A,Preșcolar,Grupa mijlocie,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
4,828033,11263948,A,Gimnazial,Clasa a VI-a,Special,Buget,Zi,Pedagogia curativă,Limba română,Normal,0

In [95]:
# verificam dac aexista NA-uri
len(levels_formations[levels_formations.idSchool.isna()])

0

In [100]:
# verificam daca exista dublicate
len(levels_formations[levels_formations.idSchool.duplicated()])

149157

In [104]:
levels_formations.drop(columns= ['id', 'sfName', 'studyFormationType', 'educationType', 'fundingForm', 
                                 'educationForm', 'teachingMode', 'techingType', 'studentsNo'], inplace=True)

In [106]:
levels_formations.head()

   idSchool    sfLevel teachingLanguage
0  11269910  Preșcolar     Limba română
1  11269910  Preșcolar     Limba română
2  11269910  Preșcolar     Limba română
3  11269910  Preșcolar     Limba română
4  11263948  Gimnazial     Limba română

In [107]:
levels_formations.groupby('sfLevel')['idSchool'].nunique()

sfLevel
Antepreşcolar       23
Gimnazial         6354
Liceal            1505
Postliceal         590
Preșcolar        11051
Primar            8805
Profesional        800
Name: idSchool, dtype: int64

In [108]:
levels_formations= levels_formations[levels_formations['sfLevel']=='Liceal']

In [109]:
levels_formations.sfLevel.unique()

array(['Liceal'], dtype=object)

In [110]:
len(levels_formations)

24701

In [111]:
# verificam daca exista dublicate pe toate coloanele
len(levels_formations[levels_formations.duplicated()])

23119

In [112]:
# eliminam dublicatele
levels_formations= levels_formations.drop_duplicates()
len(levels_formations[levels_formations.duplicated()])

0

In [113]:
# verificam daca exista dublicate pe idSchool
len(levels_formations[levels_formations.idSchool.duplicated()])

77

In [114]:
len(levels_formations[levels_formations[['idSchool', 'sfLevel']].duplicated()])

77

In [115]:
# analizam scolile pentru care se dubleaza idSchool:
levels_formations[levels_formations.idSchool.duplicated()].head(4)

      idSchool sfLevel teachingLanguage
2084  11257839  Liceal     Limba polonă
2490  11266873  Liceal   Limba maghiară
3127  11260674  Liceal   Limba maghiară
4500  11258242  Liceal    Limba germană

In [116]:
# dublicatele sunt pe idSchool sunt la scolile care au mai mult de o limba de predare:
levels_formations[levels_formations['idSchool']==11257839]

      idSchool sfLevel teachingLanguage
2064  11257839  Liceal     Limba română
2084  11257839  Liceal     Limba polonă

#### pentru a elimina dublicatele transformam coloana teachingLanguage in mai multe coloane cu valori dummy, exemplu:
##### coloana 'romana': daca scoala are ca limba de predare romana=1, daca nu=0
##### coloana 'engleza': daca are predare in engleza=1, daca nu=0

### Transformam coloana teachingLanguage in mai multe coloane

In [117]:
levels_formations.teachingLanguage.unique()

array(['Limba română', 'Limba maghiară', 'Limba polonă', 'Limba germană',
       'Limba ucraineană', 'Limba croată', 'Limba neogreacă',
       'Limba bulgară', 'Limba rusă', 'Limba romani (rromani)',
       'Limba italiană', 'Limba sârbă', 'Limba engleză', 'Limba slovacă'],
      dtype=object)

In [118]:
# creeam un tabel de mapare diacriticelor
diacr = {"ă":"a", "ș":"s","ț":"t","â":"a","î":"i"}

translation_table = str.maketrans(diacr)

# inlocuim diacriticele din coloana cu limbile
levels_formations['teachingLanguage'] = levels_formations['teachingLanguage'].str.translate(translation_table)

In [119]:
levels_formations.teachingLanguage.unique()

array(['Limba romana', 'Limba maghiara', 'Limba polona', 'Limba germana',
       'Limba ucraineana', 'Limba croata', 'Limba neogreaca',
       'Limba bulgara', 'Limba rusa', 'Limba romani (rromani)',
       'Limba italiana', 'Limba sarba', 'Limba engleza', 'Limba slovaca'],
      dtype=object)

In [120]:
dummy_columns=pd.get_dummies(levels_formations['teachingLanguage']).astype(int)

In [121]:
dummy_columns.head()

,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
46,0,0,0,0,0,0,0,0,1,0,0,0,0,0
64,0,0,0,0,0,0,0,0,1,0,0,0,0,0
131,0,0,0,0,0,0,0,0,1,0,0,0,0,0
266,0,0,0,0,0,0,0,0,1,0,0,0,0,0
390,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [122]:
levels_formations= pd.concat([levels_formations, dummy_columns], axis=1)

In [124]:
levels_formations.head()

,idSchool,sfLevel,teachingLanguage,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
46,11274703,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0
64,11257683,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0
131,11274296,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0
266,11274297,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0
390,11274299,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [125]:
# analizam tranfsormarea pentru un liceu care are 2 limbi de predare
levels_formations[levels_formations['idSchool']==11257839]

,idSchool,sfLevel,teachingLanguage,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
2064,11257839,Liceal,Limba romana,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2084,11257839,Liceal,Limba polona,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [126]:
levels_formations.drop(columns=['sfLevel', 'teachingLanguage'], inplace=True)

In [41]:
levels_formations[levels_formations['idSchool']==11257839]

,idSchool,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
2064,11257839,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2084,11257839,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [127]:
licee= levels_formations.groupby('idSchool').sum().reset_index()
licee.head(3)

,idSchool,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
0,11255240,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,11255594,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,11255631,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [128]:
licee[licee['idSchool']==11257839]

,idSchool,Limba bulgara,Limba croata,Limba engleza,Limba germana,Limba italiana,Limba maghiara,Limba neogreaca,Limba polona,Limba romana,Limba romani (rromani),Limba rusa,Limba sarba,Limba slovaca,Limba ucraineana
91,11257839,0,0,0,0,0,0,0,1,1,0,0,0,0,0

In [129]:
len(licee)

1505

In [130]:
len(licee[licee.duplicated()])

0

In [131]:
licee.columns

Index(['idSchool', 'Limba bulgara', 'Limba croata', 'Limba engleza',
       'Limba germana', 'Limba italiana', 'Limba maghiara', 'Limba neogreaca',
       'Limba polona', 'Limba romana', 'Limba romani (rromani)', 'Limba rusa',
       'Limba sarba', 'Limba slovaca', 'Limba ucraineana'],
      dtype='object')

In [132]:
licee.rename(columns= {'idSchool':'idSchool', 'Limba bulgara': 'bulgara', 'Limba croata' : 'croata',
                       'Limba engleza': 'engleza','Limba germana':'germana', 'Limba italiana':'italiana',
                       'Limba maghiara': 'maghiara' , 'Limba neogreaca':'neogreaca', 
                       'Limba polona': 'polona', 'Limba romana': 'romana', 
                       'Limba romani (rromani)':'romani', 'Limba rusa': 'rusa','Limba sarba':'sarba',
                       'Limba slovaca':'slovaca', 'Limba ucraineana': 'ucraineana'}, inplace=True)

In [133]:
licee.head()

,idSchool,bulgara,croata,engleza,germana,italiana,maghiara,neogreaca,polona,romana,romani,rusa,sarba,slovaca,ucraineana
0,11255240,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,11255594,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,11255631,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,11255635,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,11255657,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [134]:
school_details.head()

   idSchool     Judet  Nr_elevi  Nr_profesori
0  11269910      ARAD       131             7
1  11256876     BUZAU         0             0
2  11256865     BUZAU         0             0
3  11284187  CALARASI         0             0
4  11270113  CALARASI         0             0

In [135]:
# unim tabelele licee si school details)
all_details= pd.merge(licee,school_details, on= 'idSchool', how='left')

In [136]:
all_details.head()

,idSchool,bulgara,croata,engleza,germana,italiana,maghiara,neogreaca,polona,romana,romani,rusa,sarba,slovaca,ucraineana,Judet,Nr_elevi,Nr_profesori
0,11255240,0,0,0,0,0,0,0,0,1,0,0,0,0,0,VALCEA,959,94
1,11255594,0,0,0,0,0,0,0,0,1,0,0,0,0,0,COVASNA,361,42
2,11255631,0,0,0,0,0,0,0,0,1,0,0,0,0,0,COVASNA,1072,110
3,11255635,0,0,0,0,0,1,0,0,1,0,0,0,0,0,COVASNA,994,118
4,11255657,0,0,0,0,0,1,0,0,0,0,0,0,0,0,COVASNA,505,63

In [137]:
len(all_details)

1505

In [138]:
all_details.columns

Index(['idSchool', 'bulgara', 'croata', 'engleza', 'germana', 'italiana',
       'maghiara', 'neogreaca', 'polona', 'romana', 'romani', 'rusa', 'sarba',
       'slovaca', 'ucraineana', 'Judet', 'Nr_elevi', 'Nr_profesori'],
      dtype='object')

In [139]:
aggregations={'idSchool': 'count',
              'bulgara' : 'sum',
              'croata': 'sum', 
              'engleza': 'sum', 
              'germana': 'sum', 
              'italiana': 'sum',
              'maghiara': 'sum', 
              'neogreaca': 'sum', 
              'polona': 'sum', 
              'romana': 'sum',
              'romani': 'sum', 
              'rusa': 'sum', 
              'sarba': 'sum',
              'slovaca': 'sum', 
              'ucraineana': 'sum',
              'Nr_elevi': 'sum', 
              'Nr_profesori': 'sum'}
all_details=all_details.groupby(['Judet']).agg(aggregations).reset_index()

In [141]:
all_details

,Judet,idSchool,bulgara,croata,engleza,germana,italiana,maghiara,neogreaca,polona,romana,romani,rusa,sarba,slovaca,ucraineana,Nr_elevi,Nr_profesori
0,ALBA,36,0,0,0,1,0,2,0,0,33,0,0,0,0,0,21419,2416
1,ARAD,41,0,0,0,1,0,1,0,0,40,0,0,0,1,0,31643,3166
2,ARGES,43,0,0,0,0,0,0,0,0,43,0,0,0,0,0,29802,3057
3,BACAU,36,0,0,0,0,0,0,0,0,36,0,0,0,0,0,27915,3055
4,BIHOR,51,0,0,0,1,0,14,0,0,42,0,0,0,1,0,41575,4430
5,BISTRITA-NASAUD,27,0,0,0,1,0,1,0,0,27,0,0,0,0,0,19115,1973
6,BOTOSANI,29,0,0,0,0,0,0,0,0,29,0,0,0,0,0,21813,2387
7,BRAILA,22,0,0,0,0,0,0,0,0,22,0,0,0,0,0,15657,1623
8,BRASOV,42,0,0,0,3,0,4,0,0,39,0,0,0,0,0,31486,3270
9,BUZAU,33,0,0,0,0,0,0,0,0,33,0,0,0,0,0,20968,2319
10,CALARASI,17,0,0,0,0,0,0,0,0,17,0,0,0,0,0,11387,1154
11,CARAS-SEVERIN,31,0,1,0,1,0,0,0,0,30,0,0,0,0,0,18579,1966
12,CLUJ,69,0,0,2,1,0,12,0,0,61,0,0,0,0,0,46839,4980
13,CONSTANTA,65,0,0,1,0,0,0,0,0,64,0,0,0,0,0,48156,4459
14,COVASNA,18,0,0,0,0,0,14,0,0,7,0,0,0,0,0,10574,1413
15,DAMBOVITA,30,0,0,0,0,0,0,0,0,30,0,0,0,0,0,21225,2252
16,DOLJ,46,0,0,0,0,0,0,0,0,46,0,0,0,0,0,37998,3971
17,GALATI,35,0,0,0,0,0,0,0,0,35,0,0,0,0,0,25274,2532
18,GIURGIU,12,0,0,0,0,0,0,0,0,12,0,0,0,0,0,8802,780
19,GORJ,33,0,0,0,0,0,0,0,0,33,0,0,0,0,0,21128,2194
20,HARGHITA,38,0,0,0,0,0,31,0,0,10,0,0,0,0,0,19495,2481
21,HUNEDOARA,33,0,0,0,1,0,1,0,0,32,0,0,0,0,0,31773,3429
22,IALOMITA,18,0,0,0,0,0,0,0,0,18,0,0,0,0,0,12355,1278
23,IASI,49,0,0,0,0,0,0,0,0,49,0,0,0,0,0,40859,4541
24,ILFOV,21,0,0,0,1,0,0,0,0,20,0,0,0,0,0,17787,1337
25,MARAMURES,45,0,0,0,1,0,2,0,0,41,0,0,0,0,1,27233,3192
26,MEHEDINTI,20,0,0,0,0,0,0,0,0,20,0,0,0,0,0,14368,1474
27,MUNICIPIUL BUCURESTI,120,1,0,0,1,1,1,1,0,118,1,1,0,0,0,104438,9725
28,MURES,36,0,0,0,2,0,21,0,0,31,0,0,0,0,0,24122,2793
29,NEAMT,36,0,0,0,0,0,0,0,0,36,0,0,0,0,0,28078,3137
30,OLT,31,0,0,0,0,0,0,0,0,31,0,0,0,0,0,24311,2404
31,PRAHOVA,45,0,0,0,0,0,0,0,0,45,0,0,0,0,0,38468,3736
32,SALAJ,22,0,0,0,0,0,8,0,0,21,0,0,0,0,0,12988,1467
33,SATU MARE,29,0,0,0,1,0,10,0,0,24,0,0,0,0,0,18261,1977
34,SIBIU,34,0,0,0,4,0,2,0,0,33,0,0,0,0,0,23924,2394
35,SUCEAVA,44,0,0,0,0,0,0,0,1,44,0,0,0,0,1,37514,3761
36,TELEORMAN,22,0,0,0,0,0,0,0,0,22,0,0,0,0,0,11923,1224
37,TIMIS,57,0,0,0,3,0,2,0,0,54,0,0,1,0,1,43591,4558
38,TULCEA,18,0,0,0,0,0,0,0,0,18,0,0,0,0,0,10250,1187
39,VALCEA,25,0,0,0,0,0,0,0,0,25,0,0,0,0,0,19947,2223
40,VASLUI,24,0,0,0,0,0,0,0,0,24,0,0,0,0,0,17305,1871
41,VRANCEA,22,0,0,0,0,0,0,0,0,22,0,0,0,0,0,16158,1722

In [142]:
tempo_all.head()

,Judet,Elevi_cu_BAC,Ateliere_scolare,Laboratoare,Echipamente,Terenuri_sport,Imigranti
0,Bihor,2915,108,253,6137,73,300
1,Bistrita-Nasaud,1553,47,104,3814,21,177
2,Cluj,3653,112,368,14700,75,692
3,Maramures,2449,67,135,6815,37,326
4,Satu Mare,1460,74,139,3722,39,205

In [143]:
all_details.Judet.unique()

array(['ALBA', 'ARAD', 'ARGES', 'BACAU', 'BIHOR', 'BISTRITA-NASAUD',
       'BOTOSANI', 'BRAILA', 'BRASOV', 'BUZAU', 'CALARASI',
       'CARAS-SEVERIN', 'CLUJ', 'CONSTANTA', 'COVASNA', 'DAMBOVITA',
       'DOLJ', 'GALATI', 'GIURGIU', 'GORJ', 'HARGHITA', 'HUNEDOARA',
       'IALOMITA', 'IASI', 'ILFOV', 'MARAMURES', 'MEHEDINTI',
       'MUNICIPIUL BUCURESTI', 'MURES', 'NEAMT', 'OLT', 'PRAHOVA',
       'SALAJ', 'SATU MARE', 'SIBIU', 'SUCEAVA', 'TELEORMAN', 'TIMIS',
       'TULCEA', 'VALCEA', 'VASLUI', 'VRANCEA'], dtype=object)

In [144]:
tempo_all.Judet.unique()

array([' Bihor', ' Bistrita-Nasaud', ' Cluj', ' Maramures', ' Satu Mare',
       ' Salaj', ' Alba', ' Brasov', ' Covasna', ' Harghita', ' Mures',
       ' Sibiu', ' Bacau', ' Botosani', ' Iasi', ' Neamt', ' Suceava',
       ' Vaslui', ' Braila', ' Buzau', ' Constanta', ' Galati', ' Tulcea',
       ' Vrancea', ' Arges', ' Calarasi', ' Dambovita', ' Giurgiu',
       ' Ialomita', ' Prahova', ' Teleorman', ' Ilfov',
       ' Municipiul Bucuresti', ' Dolj', ' Gorj', ' Mehedinti', ' Olt',
       ' Valcea', ' Arad', ' Caras-Severin', ' Hunedoara', ' Timis'],
      dtype=object)

In [145]:
# elemininam spatiile
tempo_all['Judet']= tempo_all['Judet'].str.strip()

In [146]:
tempo_all['Judet']= tempo_all['Judet'].str.upper()

In [147]:
tempo_all.Judet.unique()

array(['BIHOR', 'BISTRITA-NASAUD', 'CLUJ', 'MARAMURES', 'SATU MARE',
       'SALAJ', 'ALBA', 'BRASOV', 'COVASNA', 'HARGHITA', 'MURES', 'SIBIU',
       'BACAU', 'BOTOSANI', 'IASI', 'NEAMT', 'SUCEAVA', 'VASLUI',
       'BRAILA', 'BUZAU', 'CONSTANTA', 'GALATI', 'TULCEA', 'VRANCEA',
       'ARGES', 'CALARASI', 'DAMBOVITA', 'GIURGIU', 'IALOMITA', 'PRAHOVA',
       'TELEORMAN', 'ILFOV', 'MUNICIPIUL BUCURESTI', 'DOLJ', 'GORJ',
       'MEHEDINTI', 'OLT', 'VALCEA', 'ARAD', 'CARAS-SEVERIN', 'HUNEDOARA',
       'TIMIS'], dtype=object)

In [148]:
licee_all=pd.merge(all_details, tempo_all, on='Judet', how='inner')

In [149]:
licee_all

,Judet,idSchool,bulgara,croata,engleza,germana,italiana,maghiara,neogreaca,polona,...,slovaca,ucraineana,Nr_elevi,Nr_profesori,Elevi_cu_BAC,Ateliere_scolare,Laboratoare,Echipamente,Terenuri_sport,Imigranti
0,ALBA,36,0,0,0,1,0,2,0,0,...,0,0,21419,2416,1817,82,162,4882,37,215
1,ARAD,41,0,0,0,1,0,1,0,0,...,1,0,31643,3166,2047,86,209,3759,51,315
2,ARGES,43,0,0,0,0,0,0,0,0,...,0,0,29802,3057,3416,129,241,5320,40,162
3,BACAU,36,0,0,0,0,0,0,0,0,...,0,0,27915,3055,3165,100,206,6239,43,1250
4,BIHOR,51,0,0,0,1,0,14,0,0,...,1,0,41575,4430,2915,108,253,6137,73,300
5,BISTRITA-NASAUD,27,0,0,0,1,0,1,0,0,...,0,0,19115,1973,1553,47,104,3814,21,177
6,BOTOSANI,29,0,0,0,0,0,0,0,0,...,0,0,21813,2387,2182,61,121,3415,30,4609
7,BRAILA,22,0,0,0,0,0,0,0,0,...,0,0,15657,1623,1388,81,104,2568,19,105
8,BRASOV,42,0,0,0,3,0,4,0,0,...,0,0,31486,3270,2668,97,203,4005,40,634
9,BUZAU,33,0,0,0,0,0,0,0,0,...,0,0,20968,2319,2046,37,140,3178,20,129
10,CALARASI,17,0,0,0,0,0,0,0,0,...,0,0,11387,1154,840,46,82,1902,18,125
11,CARAS-SEVERIN,31,0,1,0,1,0,0,0,0,...,0,0,18579,1966,1239,83,173,3087,26,227
12,CLUJ,69,0,0,2,1,0,12,0,0,...,0,0,46839,4980,3653,112,368,14700,75,692
13,CONSTANTA,65,0,0,1,0,0,0,0,0,...,0,0,48156,4459,3494,98,291,5665,70,480
14,COVASNA,18,0,0,0,0,0,14,0,0,...,0,0,10574,1413,847,93,70,1842,16,66
15,DAMBOVITA,30,0,0,0,0,0,0,0,0,...,0,0,21225,2252,2187,65,168,3432,36,174
16,DOLJ,46,0,0,0,0,0,0,0,0,...,0,0,37998,3971,2975,117,315,5425,64,316
17,GALATI,35,0,0,0,0,0,0,0,0,...,0,0,25274,2532,2827,90,202,3504,43,6929
18,GIURGIU,12,0,0,0,0,0,0,0,0,...,0,0,8802,780,743,17,55,1404,11,115
19,GORJ,33,0,0,0,0,0,0,0,0,...,0,0,21128,2194,1883,73,177,4150,40,85
20,HARGHITA,38,0,0,0,0,0,31,0,0,...,0,0,19495,2481,1422,99,134,3795,27,93
21,HUNEDOARA,33,0,0,0,1,0,1,0,0,...,0,0,31773,3429,1828,74,160,4080,43,257
22,IALOMITA,18,0,0,0,0,0,0,0,0,...,0,0,12355,1278,1049,49,99,2099,18,147
23,IASI,49,0,0,0,0,0,0,0,0,...,0,0,40859,4541,4426,140,278,6310,59,10034
24,ILFOV,21,0,0,0,1,0,0,0,0,...,0,0,17787,1337,608,13,61,1971,22,695
25,MARAMURES,45,0,0,0,1,0,2,0,0,...,0,1,27233,3192,2449,67,135,6815,37,326
26,MEHEDINTI,20,0,0,0,0,0,0,0,0,...,0,0,14368,1474,1209,39,110,2530,20,100
27,MUNICIPIUL BUCURESTI,120,1,0,0,1,1,1,1,0,...,0,0,104438,9725,12830,221,708,48471,121,10786
28,MURES,36,0,0,0,2,0,21,0,0,...,0,0,24122,2793,2485,73,145,9111,26,256
29,NEAMT,36,0,0,0,0,0,0,0,0,...,0,0,28078,3137,2605,84,201,4136,48,1183
30,OLT,31,0,0,0,0,0,0,0,0,...,0,0,24311,2404,1774,56,128,2468,30,146
31,PRAHOVA,45,0,0,0,0,0,0,0,0,...,0,0,38468,3736,3984,134,244,6136,46,262
32,SALAJ,22,0,0,0,0,0,8,0,0,...,0,0,12988,1467,1171,51,134,2122,17,66
33,SATU MARE,29,0,0,0,1,0,10,0,0,...,0,0,18261,1977,1460,74,139,3722,39,205
34,SIBIU,34,0,0,0,4,0,2,0,0,...,0,0,23924,2394,1948,111,156,3159,25,372
35,SUCEAVA,44,0,0,0,0,0,0,0,1,...,0,1,37514,3761,3934,84,248,8244,44,1171
36,TELEORMAN,22,0,0,0,0,0,0,0,0,...,0,0,11923,1224,1197,35,82,2605,19,217
37,TIMIS,57,0,0,0,3,0,2,0,0,...,0,1,43591,4558,2890,104,258,4976,55,802
38,TULCEA,18,0,0,0,0,0,0,0,0,...,0,0,10250,1187,829,30,131,1902,18,101
39,VALCEA,25,0,0,0,0,0,0,0,0,...,0,0,19947,2223,1926,48,142,2040,19,105
40,VASLUI,24,0,0,0,0,0,0,0,0,...,0,0,17305,1871,1872,63,131,3076,21,10199
41,VRANCEA,22,0,0,0,0,0,0,0,0,...,0,0,16158,1722,1555,40,115,2114,16,211

In [150]:
licee_all.idSchool.sum()

1505

In [65]:
licee_all.to_csv('licee_all.csv', index=False)

## Incarcarea in Azure a tabelului final

In [69]:
import pyodbc
import sqlalchemy as db
import urllib

exec(open('azure_credentials.py').read())

In [66]:
database_name = "AID2023"
driver = '{ODBC Driver 18 for SQL Server}'
server_name = "aid-2023-srv.database.windows.net"

In [70]:
# Create the server url
server = 'tcp:{server_name},1433'.format(server_name = server_name)

#create the full connection string <- make sure to write it as it is bellow - check your credentials to be the right ones

connection_string = 'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};charset=utf8'.format(
    driver = driver,
    server=server,
    database=database_name,
    username=username,
    password=password
)                              

cnxn: pyodbc.Connection = pyodbc.connect(connection_string)
cursor: pyodbc.Cursor = cnxn.cursor() 

#execute a query with the cursor to check if the connection is maade
print("Connection is open") if cursor.execute("SELECT 1") else print(f"Connection is closed: {e}")

Connection is open

In [71]:
#obtain the parameters from the pyodbc connection string
params = urllib.parse.quote_plus(connection_string)
#create the engine
sqlalchemy_engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [72]:
# inserarea datelor intr-un tabel sql
licee_all.to_sql("licee_all_team4", sqlalchemy_engine, if_exists='replace', index=False)

42