In [16]:
! pip install pyodbc
! pip install sqlalchemy

import pandas as pd
import json
import pyodbc
import sqlalchemy as db
import urllib

Requirement already satisfied: pyodbc in c:\users\flopr\anaconda3\lib\site-packages (4.0.34)
Requirement already satisfied: sqlalchemy in c:\users\flopr\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\flopr\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)

In [17]:
#Inseram tabelul "school_details" si facem un dataframe

In [53]:
file_path = "school_details.json"

with open(file_path, encoding="utf8") as json_file:
    school_details = json.load(json_file)
    
data = pd.DataFrame(school_details)
data

,idSchool,internalIdSchool,idParentSchool,schoolYearDescription,code,siruesCode,longName,shortName,schoolType,statut,...,streetNumber,postalCode,phoneNumber,faxNumber,email,idSchoolYear.code,schoolNumbers.idSchool,schoolNumbers.studyFormationsCount,schoolNumbers.studentsCount,schoolNumbers.personnelCount
0,11269910,10131270,None,Anul şcolar 2018-2019,261200154,23054595,"ASOCIAŢIA CREŞTINĂ DE CARITATE ""GOSEN"" ARAD/ G...","GRĂDINIŢA ""GOSEN"" ARAD",Unitate de învățământ,Cu personalitate juridică,...,121-125,310365,257272477,257272477,gradinitagosen@yahoo.com,2018-2019,11269910,4,131,7
1,11256876,11192270,None,Anul şcolar 2018-2019,1061206943,None,ASOCIAȚIA PENTRU PROMOVAREA VALORILOR AUTENTIC...,ASOCIAȚIA VALORILOR BZ,Unitate de învățământ,Cu personalitate juridică,...,4,125300,762724000,238563970,secretariat@cnpaulescu.ro,2018-2019,11256876,0,0,0
2,11256865,11192168,None,Anul şcolar 2018-2019,1061206875,None,ASOCIAȚIA UMANITARĂ EDUSTAR BUZĂU,ASOCIATIA EDUSTAR,Unitate de învățământ,Cu personalitate juridică,...,14,120010,773826330,238725913,luminitamusat2006@yahoo.com,2018-2019,11256865,0,0,0
3,11284187,11284187,11270069,Anul şcolar 2018-2019,5162103686,None,CABINET INTERSCOLAR DE ASISTENTA PSIHOPEDAGOGI...,CIAP LICEUL PEDADOGIC STEFAN BANULESCU,Unitate de învățământ,Arondată,...,1,None,242317042,242317042,None,2018-2019,11284187,0,0,0
4,11270113,10049611,11270069,Anul şcolar 2018-2019,5142100248,None,CABINET INTERSCOLAR DE ASISTENTA PSIHOPEDAGOGI...,CIAP LICEUL NR1 BORCEA_SCOALA PERISORU,Centru județean de resurse și asistență educaț...,Arondată,...,10B,None,242317042,None,None,2018-2019,11270113,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18910,11271997,11045085,11271994,Anul şcolar 2018-2019,562108182,362678,ŞCOALĂ PRIMARĂ NR.1 LUPOAIA,ŞCOALĂ PRIMARĂ NR.1 LUPOAIA,Unitate de învățământ,Arondată,...,163,417286,None,None,None,2018-2019,11271997,5,0,0
18911,11262566,10127944,11262530,Anul şcolar 2018-2019,1562102445,None,ȘCOALĂ PRIMARĂ NR.2 I. L. CARAGIALE,ȘCOALĂ PRIMARĂ NR.2 I. L. CARAGIALE,Unitate de învățământ,Arondată,...,1,137255,None,None,None,2018-2019,11262566,4,0,0
18912,11277287,11277287,11268974,Anul şcolar 2018-2019,1962105989,None,"ȘCOALĂ PRIMARĂ ""TAMÁSI ÁRON"" ODORHEIU SECUIESC","S04 ""TAMASI ARON"" ODORHEI",Unitate de învățământ,Arondată,...,4,535600,266218379,266218379,lt.tamasiaron@eduhr.ro,2018-2019,11277287,1,0,0
18913,11260231,11142774,None,Anul şcolar 2018-2019,2261207102,None,"ŞOALA PRIMARĂ ""MARIA MONTESSORI"", IAŞI",SC PRI MARIA MONTESSORI IASI,Unitate de învățământ,Cu personalitate juridică,...,6,None,232270240,232270240,inscrieri@gradinita-tesori.ro,2018-2019,11260231,5,32,8
18914,11267114,10125453,None,Anul şcolar 2018-2019,1261203444,101,TRANSYLVANIA COLLEGE THE CAMBRIDGE INTERNATION...,TRANSYLVANIA COLLEGE THE CAMBRIDGE INT. CLUJ,Unitate de învățământ,Cu personalitate juridică,...,2A,400445,264418990,264418991,office@transylvania-college.ro,2018-2019,11267114,31,698,88

In [54]:
#Ne uitam peste coloane si le eliminam pe cele pe care nu le folosim in analiza

In [55]:
data.columns

Index(['idSchool', 'internalIdSchool', 'idParentSchool',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm', 'county', 'locality', 'street',
       'streetNumber', 'postalCode', 'phoneNumber', 'faxNumber', 'email',
       'idSchoolYear.code', 'schoolNumbers.idSchool',
       'schoolNumbers.studyFormationsCount', 'schoolNumbers.studentsCount',
       'schoolNumbers.personnelCount'],
      dtype='object')

In [56]:
data.drop(columns = ['internalIdSchool', 'idParentSchool',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm', 'locality', 'street',
       'streetNumber', 'postalCode', 'phoneNumber', 'faxNumber', 'email',
       'idSchoolYear.code', 'schoolNumbers.idSchool',
       'schoolNumbers.studyFormationsCount'], inplace = True)

In [57]:
#Ne asiguram ca baza de date nu are valori lipsa

In [58]:
data.isnull().sum()

idSchool                        0
county                          0
schoolNumbers.studentsCount     0
schoolNumbers.personnelCount    0
dtype: int64

In [59]:
#Ne asiguram ca baza de date nu are duplicate

In [60]:
duplicates =data[data.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [idSchool, county, schoolNumbers.studentsCount, schoolNumbers.personnelCount]
Index: []

In [61]:
#Schimbam denumirile variabilelor "county", "schoolNumbers.studentsCount", "schoolNumbers.personnelCount" pentru a fi mai usor prelucrarea lor

In [62]:
data = data.rename(columns = {"county": "Judet"})
data = data.rename(columns = {"schoolNumbers.studentsCount": "Numar_elevi"})
data = data.rename(columns = {"schoolNumbers.personnelCount": "Numar_personal_liceu"})

In [63]:
#Inlocuim diacriticele din variabila "Judet"

In [65]:
diacr = {"Ă":"A", "Ş":"S","Ţ":"T","Â":"A","Î":"I"}
translation_table = str.maketrans(diacr)
data["Judet"] = data["Judet"].str.translate(translation_table)

data

       idSchool      Judet Numar_elevi Numar_personal_liceu
0      11269910       ARAD         131                    7
1      11256876      BUZAU           0                    0
2      11256865      BUZAU           0                    0
3      11284187   CALARASI           0                    0
4      11270113   CALARASI           0                    0
...         ...        ...         ...                  ...
18910  11271997      BIHOR           0                    0
18911  11262566  DAMBOVITA           0                    0
18912  11277287   HARGHITA           0                    0
18913  11260231       IASI          32                    8
18914  11267114       CLUJ         698                   88

[18915 rows x 4 columns]

In [66]:
#Observam ca avem judetele scrise cu litera mare, astfel incercam sa le normalizam

In [67]:
data["Judet"] = data["Judet"].apply(lambda x:x[0]+x[1:].lower())
data

       idSchool      Judet Numar_elevi Numar_personal_liceu
0      11269910       Arad         131                    7
1      11256876      Buzau           0                    0
2      11256865      Buzau           0                    0
3      11284187   Calarasi           0                    0
4      11270113   Calarasi           0                    0
...         ...        ...         ...                  ...
18910  11271997      Bihor           0                    0
18911  11262566  Dambovita           0                    0
18912  11277287   Harghita           0                    0
18913  11260231       Iasi          32                    8
18914  11267114       Cluj         698                   88

[18915 rows x 4 columns]

In [68]:
data.to_csv("School_Details_Clean_Team4.csv", index = False)

In [69]:
#Inseram tabelul "tempo_jud"

In [70]:
file_path = "tempo_jud.json"

with open(file_path) as json_file:
    tempo_jud = json.load(json_file)
    
data1 = pd.DataFrame(tempo_jud)
data1

,Judet,Elevi_cu_BAC,Ateliere_scolare,Laboratoare,Echipamente,Terenuri_sport,Imigranti
0,Bihor,2915,108,253,6137,73,300
1,Bistrita-Nasaud,1553,47,104,3814,21,177
2,Cluj,3653,112,368,14700,75,692
3,Maramures,2449,67,135,6815,37,326
4,Satu Mare,1460,74,139,3722,39,205
5,Salaj,1171,51,134,2122,17,66
6,Alba,1817,82,162,4882,37,215
7,Brasov,2668,97,203,4005,40,634
8,Covasna,847,93,70,1842,16,66
9,Harghita,1422,99,134,3795,27,93
10,Mures,2485,73,145,9111,26,256
11,Sibiu,1948,111,156,3159,25,372
12,Bacau,3165,100,206,6239,43,1250
13,Botosani,2182,61,121,3415,30,4609
14,Iasi,4426,140,278,6310,59,10034
15,Neamt,2605,84,201,4136,48,1183
16,Suceava,3934,84,248,8244,44,1171
17,Vaslui,1872,63,131,3076,21,10199
18,Braila,1388,81,104,2568,19,105
19,Buzau,2046,37,140,3178,20,129
20,Constanta,3494,98,291,5665,70,480
21,Galati,2827,90,202,3504,43,6929
22,Tulcea,829,30,131,1902,18,101
23,Vrancea,1555,40,115,2114,16,211
24,Arges,3416,129,241,5320,40,162
25,Calarasi,840,46,82,1902,18,125
26,Dambovita,2187,65,168,3432,36,174
27,Giurgiu,743,17,55,1404,11,115
28,Ialomita,1049,49,99,2099,18,147
29,Prahova,3984,134,244,6136,46,262
30,Teleorman,1197,35,82,2605,19,217
31,Ilfov,608,13,61,1971,22,695
32,Municipiul Bucuresti,12830,221,708,48471,121,10786
33,Dolj,2975,117,315,5425,64,316
34,Gorj,1883,73,177,4150,40,85
35,Mehedinti,1209,39,110,2530,20,100
36,Olt,1774,56,128,2468,30,146
37,Valcea,1926,48,142,2040,19,105
38,Arad,2047,86,209,3759,51,315
39,Caras-Severin,1239,83,173,3087,26,227
40,Hunedoara,1828,74,160,4080,43,257
41,Timis,2890,104,258,4976,55,802

In [71]:
#Ne asiguram ca baza de date nu are valori lipsa

In [72]:
data1.isnull().sum()

Judet               0
Elevi_cu_BAC        0
Ateliere_scolare    0
Laboratoare         0
Echipamente         0
Terenuri_sport      0
Imigranti           0
dtype: int64