### 06.  Functia Group by si Agregarea datelor din surse diverse

In [266]:
import pandas as pd
import numpy as np
import json
import os

### Load school details data

In [267]:
# Load csv
schoolNumbers = pd.read_csv('details_schoolNumbers.csv')
details =  pd.read_csv('details.csv')

## MERGE TABLES BY A COMMON KEY
- coloanele de unire trebuie sa se potrivesca - 
- verificati duplicatele
- tip de unire (inner,left, right...)

In [268]:
schoolNumbers.head(3)

   idSchool  studyFormationsCount  studentsCount  personnelCount
0  11269910                     4            131               7
1  11256876                     0              0               0
2  11256865                     0              0               0

In [269]:
details.head(3)

,idSchool,internalIdSchool,idParentSchool,schoolYearDescription,code,siruesCode,longName,shortName,schoolType,statut,...,street,streetNumber,postalCode,phoneNumber,faxNumber,email,idSchoolYear.code,Web_Link,Fb_Link,Adress
0,11269910,10131270,NaN,Anul şcolar 2018-2019,261200154,23054595,"ASOCIAŢIA CREŞTINĂ DE CARITATE ""GOSEN"" ARAD/ G...","GRĂDINIŢA ""GOSEN"" ARAD",Unitate de învățământ,Cu personalitate juridică,...,AUREL VLAICU,121-125,310365.0,257272477.0,257272477.0,gradinitagosen@yahoo.com,2018-2019,NaN,NaN,"121-125 AUREL VLAICU, ARAD, judetul ARAD, 3103..."
1,11256876,11192270,NaN,Anul şcolar 2018-2019,1061206943,NaN,ASOCIAȚIA PENTRU PROMOVAREA VALORILOR AUTENTIC...,ASOCIAȚIA VALORILOR BZ,Unitate de învățământ,Cu personalitate juridică,...,TOAMNEI,4,125300.0,762724000.0,238563970.0,secretariat@cnpaulescu.ro,2018-2019,NaN,NaN,"4 TOAMNEI, RÂMNICU SĂRAT, judetul BUZĂU, 12530..."
2,11256865,11192168,NaN,Anul şcolar 2018-2019,1061206875,NaN,ASOCIAȚIA UMANITARĂ EDUSTAR BUZĂU,ASOCIATIA EDUSTAR,Unitate de învățământ,Cu personalitate juridică,...,STR. MIORITEI,14,120010.0,773826330.0,238725913.0,luminitamusat2006@yahoo.com,2018-2019,NaN,NaN,"14 STR. MIORITEI, BUZĂU, judetul BUZĂU, 120010..."

In [385]:
# Check for duplicates
print(details.duplicated().sum())
print(schoolNumbers.duplicated().sum())
print(len(details))
print(len(schoolNumbers))

0
0
18915
18915

#### ALL DETAILS - MERGE DETAILS & SCHOOL NUMBERS TABLES

In [271]:
# cu merge
all_details = pd.merge(details,schoolNumbers, on = 'idSchool', how = 'inner')

In [272]:
# cu join
all_details = details.join(schoolNumbers.set_index('idSchool'), on = 'idSchool', how = 'inner')

In [273]:
all_details.columns

Index(['idSchool', 'internalIdSchool', 'idParentSchool',
       'schoolYearDescription', 'code', 'siruesCode', 'longName', 'shortName',
       'schoolType', 'statut', 'isPj', 'fiscalCode', 'operatingMode',
       'propertyForm', 'fundingForm', 'county', 'locality', 'street',
       'streetNumber', 'postalCode', 'phoneNumber', 'faxNumber', 'email',
       'idSchoolYear.code', 'Web_Link', 'Fb_Link', 'Adress',
       'studyFormationsCount', 'studentsCount', 'personnelCount'],
      dtype='object')

## GROUP BY

#### DROP UNNECESSARY COLUMNS

In [274]:
details_df = all_details.drop(columns = ['internalIdSchool', 'idParentSchool','schoolYearDescription', 
                            'code','longName', 'shortName', 'isPj', 'fiscalCode', 'operatingMode','street',
                            'streetNumber', 'postalCode', 'phoneNumber', 'faxNumber', 'email','idSchoolYear.code', 'Web_Link', 'Fb_Link',
                            'Adress'])

In [275]:
details_df.head(3)

,idSchool,siruesCode,schoolType,statut,propertyForm,fundingForm,county,locality,studyFormationsCount,studentsCount,personnelCount
0,11269910,23054595,Unitate de învățământ,Cu personalitate juridică,Privată,Sponsorizare,ARAD,ARAD,4,131,7
1,11256876,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,RÂMNICU SĂRAT,0,0,0
2,11256865,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,BUZĂU,0,0,0

### CREATE A KEY Loc_Jud

In [276]:
details_df["Loc_Jud"] =  details_df[['locality','county']].apply(lambda x: "_".join(x.astype(str)), axis = 1)

In [277]:
# INLOCUIRE DIAG+CRITICE
diacr = {"Ă":"A", "Ş":"S","Ţ":"T","Â":"A","Î":"I"}
# Create a translation table
translation_table = str.maketrans(diacr)
# Apply the translation to the specified column
details_df["Loc_Jud"] = details_df["Loc_Jud"].str.translate(translation_table)

In [386]:
details_df.head(2)

,idSchool,siruesCode,schoolType,statut,propertyForm,fundingForm,county,locality,studyFormationsCount,studentsCount,personnelCount,Loc_Jud,SIRUTA
0,11269910,23054595,Unitate de învățământ,Cu personalitate juridică,Privată,Sponsorizare,ARAD,ARAD,4,131,7,ARAD_ARAD,9262
1,11256876,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,RÂMNICU SĂRAT,0,0,0,RAMNICU SARAT_BUZAU,44845

### INS POPULATION DATA

#### APPEND DATA FROM MANY SMALL FILES

In [279]:
# Directory path where the CSV files are located
directory_path = 'Populatie_INS'

# List to store DataFrames from individual files
dataframes_list = []

# Iterate through the files in the directory
for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory_path, filename)
        # Read each CSV file into a DataFrame and append it to the list
        df = pd.read_csv(file_path)
        dataframes_list.append(df)

# Concatenate the DataFrames vertically
population_data = pd.concat(dataframes_list, ignore_index=True)

#PY/AID2023/Populatie_INS/exportPivot_POP108D (1).csv

In [280]:
print(population_data.columns)
population_data.head(3)

Index(['Varste si grupe de varsta', ' Sexe', ' Judete', ' Localitati ', ' Ani',
       ' UM: Numar persoane', ' Valoare'],
      dtype='object')

,Varste si grupe de varsta,Sexe,Judete,Localitati,Ani,UM: Numar persoane,Valoare
0,Total,Total,Arad,9262 MUNICIPIUL ARAD,Anul 1992,Numar persoane,192606
1,Total,Total,Arad,9262 MUNICIPIUL ARAD,Anul 1993,Numar persoane,192776
2,Total,Total,Arad,9262 MUNICIPIUL ARAD,Anul 1994,Numar persoane,193307

#### DATA CLEANING - POPULATION DATA

In [387]:

population_data.rename(columns = {' Ani': 'Anul', ' Localitati ':'UAT',' Judete':'Judet',' Valoare':'Populatie'}, inplace = True)

In [282]:
population_data.drop(columns = ['Varste si grupe de varsta', ' Sexe', ' UM: Numar persoane'], inplace = True)

In [283]:
population_data.head(3)

   Judet                    UAT        Anul  Populatie
0   Arad   9262 MUNICIPIUL ARAD   Anul 1992     192606
1   Arad   9262 MUNICIPIUL ARAD   Anul 1993     192776
2   Arad   9262 MUNICIPIUL ARAD   Anul 1994     193307

In [284]:
population_data['Anul'] = population_data['Anul'].str.replace(" Anul ", "")

In [285]:
population_data.head(3)

   Judet                    UAT  Anul  Populatie
0   Arad   9262 MUNICIPIUL ARAD  1992     192606
1   Arad   9262 MUNICIPIUL ARAD  1993     192776
2   Arad   9262 MUNICIPIUL ARAD  1994     193307

In [286]:
population_data['UAT'] = population_data['UAT'].str.replace("MUNICIPIUL", "")
population_data['UAT'] = population_data['UAT'].str.replace("ORAS", "")

In [287]:
population_data.UAT.unique()

array([' 9262  ARAD', ' 9459  CHISINEU-CRIS', ' 9495  CURTICI', ...,
       ' 50326 VIPERESTI', ' 50415 ZARNESTI', ' 50479 ZIDURI'],
      dtype=object)

#### STRIP

In [288]:
population_data['UAT'] = population_data['UAT'].str.strip()

### SIRUTA

In [289]:
# Split the column by the first space and expand it into two new columns
population_data[['SIRUTA', 'Localitate']] = population_data['UAT'].str.split(n=1, expand=True)

In [290]:
population_data.drop(columns = ["UAT"], inplace = True)

In [388]:
population_data.head(3)

  Judet  Anul  Populatie SIRUTA Localitate    Loc_Jud
0  ARAD  1992     192606   9262       ARAD  ARAD_ARAD
1  ARAD  1993     192776   9262       ARAD  ARAD_ARAD
2  ARAD  1994     193307   9262       ARAD  ARAD_ARAD

In [292]:
# Localitate UPPER
population_data['Judet'] = population_data['Judet'].str.upper()
#Strip
population_data['Judet'] = population_data['Judet'].str.strip()

In [293]:
# KEY COLUMN
population_data["Loc_Jud"] =  population_data[['Localitate','Judet']].apply(lambda x: "_".join(x.astype(str)), axis = 1)

In [294]:
population_data.tail(3)

        Judet  Anul  Populatie SIRUTA Localitate       Loc_Jud
100171  BUZAU  2021       4036  50479     ZIDURI  ZIDURI_BUZAU
100172  BUZAU  2022       3961  50479     ZIDURI  ZIDURI_BUZAU
100173  BUZAU  2023       3976  50479     ZIDURI  ZIDURI_BUZAU

In [295]:
# keep only the year 2018
# Convert 'Anul' column to numeric in case it's stored as strings
population_data['Anul'] = pd.to_numeric(population_data['Anul'], errors='coerce')

# Filter rows for the year 2019
population_data_2019 = population_data[population_data['Anul'] == 2019]
population_data_2019.drop(columns =["Anul"])

        Judet  Populatie SIRUTA     Localitate             Loc_Jud
27       ARAD     176589   9262           ARAD           ARAD_ARAD
59       ARAD       8227   9459  CHISINEU-CRIS  CHISINEU-CRIS_ARAD
91       ARAD       8806   9495        CURTICI        CURTICI_ARAD
123      ARAD       9594   9538           INEU           INEU_ARAD
155      ARAD      11196   9574         LIPOVA         LIPOVA_ARAD
...       ...        ...    ...            ...                 ...
100041  BUZAU       9136  50102       VERNESTI      VERNESTI_BUZAU
100073  BUZAU       2814  50228   VINTILA VODA  VINTILA VODA_BUZAU
100105  BUZAU       3438  50326      VIPERESTI     VIPERESTI_BUZAU
100137  BUZAU       4913  50415       ZARNESTI      ZARNESTI_BUZAU
100169  BUZAU       4232  50479         ZIDURI        ZIDURI_BUZAU

[3219 rows x 5 columns]

In [296]:
# DICTIONAR SIRUTA
# Create a new DataFrame with unique values from 'SIRUTA' and their corresponding 'Loc_Jud'
siruta_dict= population_data[['SIRUTA', 'Loc_Jud']].drop_duplicates()
siruta_dict.head(5)

    SIRUTA             Loc_Jud
0     9262           ARAD_ARAD
32    9459  CHISINEU-CRIS_ARAD
64    9495        CURTICI_ARAD
96    9538           INEU_ARAD
128   9574         LIPOVA_ARAD

### ADD SIRUTA COLUMN TO DF

In [297]:
# Merge 'df' with 'siruta_dict' based on 'Loc_Jud'
details_df = pd.merge(details_df, siruta_dict, on='Loc_Jud', how='left')
details_df.head()

,idSchool,siruesCode,schoolType,statut,propertyForm,fundingForm,county,locality,studyFormationsCount,studentsCount,personnelCount,Loc_Jud,SIRUTA
0,11269910,23054595,Unitate de învățământ,Cu personalitate juridică,Privată,Sponsorizare,ARAD,ARAD,4,131,7,ARAD_ARAD,9262
1,11256876,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,RÂMNICU SĂRAT,0,0,0,RAMNICU SARAT_BUZAU,44845
2,11256865,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,BUZĂU,0,0,0,BUZAU_BUZAU,44818
3,11284187,NaN,Unitate de învățământ,Arondată,Publică de interes naţional şi local,Buget,CĂLĂRAŞI,CĂLĂRAŞI,0,0,0,CALARASI_CALARASI,92569
4,11270113,NaN,Centru județean de resurse și asistență educaț...,Arondată,Publică de interes naţional şi local,Buget,CĂLĂRAŞI,BORCEA,0,0,0,BORCEA_CALARASI,92961

In [298]:
details_df.head(2)

,idSchool,siruesCode,schoolType,statut,propertyForm,fundingForm,county,locality,studyFormationsCount,studentsCount,personnelCount,Loc_Jud,SIRUTA
0,11269910,23054595,Unitate de învățământ,Cu personalitate juridică,Privată,Sponsorizare,ARAD,ARAD,4,131,7,ARAD_ARAD,9262
1,11256876,NaN,Unitate de învățământ,Cu personalitate juridică,Privată,Taxă,BUZĂU,RÂMNICU SĂRAT,0,0,0,RAMNICU SARAT_BUZAU,44845

In [362]:
# Verify if there is a SIRUTA for every row in 'df'
missing_siruta = details_df[details_df['SIRUTA'].isnull()]

In [363]:
len(missing_siruta)

8129

In [306]:
missing_siruta.locality.value_counts()

BUCUREŞTI SECTORUL 2    131
BUCUREŞTI SECTORUL 1    130
BUCUREŞTI SECTORUL 3    123
BUCUREŞTI SECTORUL 6    110
BUCUREŞTI SECTORUL 4     92
                       ...
SCHINTEIEŞTI              1
SCHELA                    1
SÂNTANDREI                1
SÂNCRAIU                  1
RĂSCRUCI                  1
Name: locality, Length: 4327, dtype: int64

In [314]:
#missing_siruta.to_csv("missing_siruta1.csv")

In [364]:
found_siruta = pd.read_csv("missing_siruta.csv")

In [369]:
found_siruta.head(2)

,idSchool,siruesCode,schoolType,statut,propertyForm,fundingForm,county,locality,studyFormationsCount,studentsCount,personnelCount,Loc_Jud,SIRUTA
Unnamed: 0,,,,,,,,,,,,,
46,11261406,406012134,Casa corpului didactic,Cu personalitate juridică,Publică de interes naţional şi local,Buget,MUNICIPIUL BUCURESTI,BUCURESTI SECTORUL 6,0,0,18,BUCURESTI SECTORUL 6_MUNICIPIUL BUCURESTI,179132
60,11261297,606347,Casa corpului didactic,Cu personalitate juridică,Publică de interes naţional şi local,Buget,MURES,TARGU MURES,0,0,11,TIRGU MURES_MURES,114319

In [366]:
# IMPUT THE VALUES FROM MISSING SIRUTA TO DETAILS DF
found_siruta.set_index('Unnamed: 0', inplace=True)

#### JOIN DETAILS DF & FOUND SIRUTA

In [374]:
# Step 1: Drop rows with missing values in 'SIRUTA'
details_df = details_df.dropna(subset=['SIRUTA'])
# append
details_df = details_df.append(found_siruta).reset_index(drop = True)

<ipython-input-374-2f48e766eef1>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  details_df = details_df.append(found_siruta).reset_index(drop = True)

In [375]:
details_df.SIRUTA.isna().sum()

0

### GROUP BY

In [376]:
details_df.dtypes

idSchool                 int64
siruesCode              object
schoolType              object
statut                  object
propertyForm            object
fundingForm             object
county                  object
locality                object
studyFormationsCount     int64
studentsCount            int64
personnelCount           int64
Loc_Jud                 object
SIRUTA                  object
dtype: object

In [377]:
# Define aggregation methods for each column
aggregations = {
    'studyFormationsCount': 'sum',
    'studentsCount': 'sum',
    'personnelCount': 'sum',
    'idSchool': 'count',
    'Loc_Jud': 'nunique',
    'county': 'min',
    'locality': 'min',
    'propertyForm': 'nunique',  # Distinct count
    'fundingForm': 'nunique',   # Distinct count
    'schoolType': 'nunique',    # Distinct count
}

# Group by 'SIRUTA' and apply the specified aggregations
details_UAT = details_df.groupby(['SIRUTA']).agg(aggregations).reset_index()

# Display the resulting DataFrame
details_UAT.head()

,SIRUTA,studyFormationsCount,studentsCount,personnelCount,idSchool,Loc_Jud,county,locality,propertyForm,fundingForm,schoolType
0,1017,29,0,0,9,4,ALBA,BARABANŢ,1,1,1
1,1071,12,0,0,5,3,ALBA,DRIMBAR,1,1,1
2,1213,38,284,45,5,2,ALBA,CIUMBRUD,1,1,2
3,1348,29,570,82,5,3,ALBA,MANARADE,1,1,1
4,1455,20,0,0,8,4,ALBA,CERTEGE,1,1,1

#### TEMA 2
Calculul Mediei Studenților pe Orașe:

Modifică agregarea pentru coloana 'studentsCount' astfel încât să obții media numărului de studenți pentru fiecare oraș.
Identificarea Orașelor cu Cele Mai Multe Școli:

Adaugă o nouă agregare pentru a determina orașele cu cele mai multe școli. Poți să folosești nlargest sau o altă metodă pentru a extrage topul orașelor.
Afișarea Rezultatelor Ajustate:

După aplicarea noilor agregări, afișează primele câteva rânduri din noul DataFrame rezultat.

#### Explore

In [378]:
#max schools
max_schools = details_UAT[details_UAT.idSchool == details_UAT.idSchool.max()][["locality","idSchool"]].rename(columns = {"idSchool":"School.Count"})
print(f'localitatea cu cele mai multe scoli din Romania, exceptand Bucurestiul este: \n{max_schools}')

localitatea cu cele mai multe scoli din Romania, exceptand Bucurestiul este:
                  locality  School.Count
2312  BUCURESTI SECTORUL 1           657

In [379]:
# Find the top 5 localities with the maximum number of schools
top_5_localities = details_UAT.nlargest(5, 'idSchool')[['locality','idSchool']].rename(columns = {"idSchool":"School.Count"})

print(f'Top 5 localities with the most schools in Romania (excluding Bucharest):\n{top_5_localities}')

Top 5 localities with the most schools in Romania (excluding Bucharest):
                  locality  School.Count
2312  BUCURESTI SECTORUL 1           657
4543           CLUJ-NAPOCA           160
5255                  IAŞI           155
4623             CONSTANŢA           151
3441             TIMIŞOARA           132

### JOIN SCHOOL_DETAILS WITH POPULATION DATA

In [380]:
population_data.head(3)

  Judet  Anul  Populatie SIRUTA Localitate    Loc_Jud
0  ARAD  1992     192606   9262       ARAD  ARAD_ARAD
1  ARAD  1993     192776   9262       ARAD  ARAD_ARAD
2  ARAD  1994     193307   9262       ARAD  ARAD_ARAD

In [382]:
# Merge 'df' with 'siruta_dict' based on 'Loc_Jud'
all_details_UAT = pd.merge(details_UAT, population_data_2019, on='SIRUTA', how='left')
all_details_UAT.head()

,SIRUTA,studyFormationsCount,studentsCount,personnelCount,idSchool,Loc_Jud_x,county,locality,propertyForm,fundingForm,schoolType,Judet,Anul,Populatie,Localitate,Loc_Jud_y
0,1017,29,0,0,9,4,ALBA,BARABANŢ,1,1,1,NaN,NaN,NaN,NaN,NaN
1,1071,12,0,0,5,3,ALBA,DRIMBAR,1,1,1,NaN,NaN,NaN,NaN,NaN
2,1213,38,284,45,5,2,ALBA,CIUMBRUD,1,1,2,NaN,NaN,NaN,NaN,NaN
3,1348,29,570,82,5,3,ALBA,MANARADE,1,1,1,NaN,NaN,NaN,NaN,NaN
4,1455,20,0,0,8,4,ALBA,CERTEGE,1,1,1,NaN,NaN,NaN,NaN,NaN

In [383]:
all_details_UAT.columns

Index(['SIRUTA', 'studyFormationsCount', 'studentsCount', 'personnelCount',
       'idSchool', 'Loc_Jud_x', 'county', 'locality', 'propertyForm',
       'fundingForm', 'schoolType', 'Judet', 'Anul', 'Populatie', 'Localitate',
       'Loc_Jud_y'],
      dtype='object')

In [384]:
all_details_UAT.drop(columns = ['Loc_Jud_y','Loc_Jud_x','Anul','Judet','Localitate'], inplace = True)

In [361]:
all_details_UAT.head(3)

,SIRUTA,studyFormationsCount,studentsCount,personnelCount,idSchool,county,locality,propertyForm,fundingForm,schoolType,Populatie
0,100004,19,635,61,2,IAŞI,VICTORIA,1,1,1,4458
1,10006,12,120,35,2,ARAD,BIRCHIŞ,1,1,1,1805
2,100086,27,789,81,3,IAŞI,VÂNĂTORI,1,1,1,4631